{% extends "base.html" %}
% set title = article.title|striptags

{% block meta_tags_in_head %}
% if article.tags or article.category:
        <meta name="keywords" content="{{ [article.tags|join(', '), article.category]|join(', ') }}" />
% endif
% if article.description:
        <meta name="description" content="{{ article.description|striptags  }}" />
% elif article.summary:
        <meta name="description" content="{{ article.summary|striptags  }}" />
% endif
% if article.date:
        <meta name="date" content="{{ article.date }}">
% endif
{% endblock meta_tags_in_head %}

{% block content %}
% if article.image:
<img class="img-feature" src="{{article.image}}" />
% endif
<section class="post-single">
  <article>
    {% include '_post-header.html' %}
    <div class="content">
      {{ article.content }}
    </div>
  </article>

	% if article.extras:
	<h3>Extras</h3>
	<ul>
		{% for linktitle, link in article.extras %}
		<li><a href="{{ link }}">{{ linktitle }}</a></li>
		{% endfor %}
	</ul>
	
	
	
	% endif
</section>
{% endblock %}
