{% extends "base.html" %}
% set title = category

{% block content %}
<section class="post-list">
  {% for article in articles_page.object_list %}
  <article>
		{% include '_post-header.html' %}
		% if article.image:
		<img class="img-feature" src="{{article.image}}" />
		% endif
    <div class="content">
      {{ article.content }}
    </div>
    <!-- todo: 'read more'/summary -->
  </article>
  {% endfor %}
</section>

{% if articles_page.has_other_pages() %}
{% include '_pagination.html' %}
{% endif %}
{% endblock content %}